<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <h1>
        SMARTA
    </h1>
    <p>
        Turn Taking AUI Project - Group 8
    </p>
</head>
<body>

    <p style="margin-left:4.5em">
        <b>Members: </b> <br>
        Ferrara Fabiana - 10508565 <br>
        Stefano Formicola - 10520490<br>
        Marta Mazzi - 10750913 <br>
        Elena Palombini - 10745681
    </p>

    <p style="margin-left:2.5em">
        SMARTA is a <b>smart object </b> that, during a constructive conversation, is passed around between participants. <br>
        By lighting up in different colors, making sounds and vibrating, SMARTA signals the users on how the <br>
        conversation is going. The ball can also detect whether somebody is interrupting the current speaker <br>
        or if another participant is willing to talk next.
    </p>

    <form name="GoToConfigurationPage" action='/api/config/' method="get" style="margin-left:2.5em">
		<input type="submit" id="startGame" value="Let's Go!" style="font-size:20px"/>
	</form>
</body>
</html>