<!DOCTYPE html>
<html lang="eng">
<head>
	<title> Smarta is activated! </title>
	<script type = "text/JavaScript">
         <!--
			function AutoRefresh( t ) {
				setTimeout("location.reload(true);", t);
            }
         //-->
    </script>
</head>
<body onload = "JavaScript:AutoRefresh(1000);">
	<h1> SMARTA is activated!</h1>
	<p style="margin-left:2.5em"> While the kids are playing, pay attention and signal when
		<br> they <b>interrupt eachother</b> by pressing on the button below <br>at each occurrence 
	</p>
	<br>
	<br>
	<form name=”SignalOverlap” action="" method=”POST” style="margin-left:2.5em">
		<input type="submit" id="OverlapButton" value="OVERLAP" style="font-size:20px"/>
	</form>
</body>
</html>