<!DOCTYPE html>
<html lang="eng">
<head>
	<title> Smarta is activated! </title>
</head>
<body>
	<h1> SMARTA is activated!</h1>
	<p style="margin-left:2.5em"> While the kids are playing, pay attention and signal when
		<br> they <b>interrupt eachother</b> by pressing on the button below <br>at each occurrence 
	</p>
	<br>
	<br>
	<form name=”SignalOverlap” action="" method="GET" style="margin-left:2.5em">
		<input type="submit" id="OverlapButton" value="OVERLAP" style="font-size:20px"/>
	</form>
</body>
</html>