<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last page</title>
</head>
<body>
    <h1>Game ended.</h1>
    <p>
        Statistics <br>
        Number of turns = {{ n_turns }} <br>
        Average duration of a turn = {{ avg_duration_min }} minutes {{ avg_duration_sec }} seconds<br>
        Number of overlaps = {{ n_overlaps }} <br>
    </p>

    <form name="GoToConfig" action='/api/config/' method="get" style="margin-left:2.5em">
		<input type="submit" id="goBack" value="New game" style="font-size:20px"/>
	</form>

    <form name="AboutPage" action='/about' method="get" style="margin-left:2.5em">
		<input type="submit" id="about" value="About" style="font-size:20px"/>
	</form>
</body>
</html>